<main>
    <form class="form-food"action="add-food" method="POST">
        <div class="form-control">
            <label for="title">Food Name</label>
            <input type="text" name="title" id="title">
            <label for="title">Image</label>
            <input type="text" name="image" id="image">
            <label for="title">Price</label>
            <input type="text" name="price" id="price">
            <label for="title">Description</label>
            <input type="text" name="desc" id="desc">
        </div>
        <button class="btn" type="submit">Add Product</button>
    </form>
</main>