extends layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/food.css")
    link(rel="stylesheet", href="/css/forms.css")

block content
    main
        form.form-food(action="add-food", method="POST")
            .form-control
                label(for="title") Food Name
                input(type="text", name="title", id="title")
            button.btn(type="submit") Add Product

