<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP</title>
</head>
<body>
    <header>
        <ul>
            <li>
                <a href="/">Shop</a>
                <a href="/admin/add-food">Add Product</a>
            </li>
        </ul>
    </header>
    <main>
        <h1>
            Shop Page
        </h1>
        <h6>
            List of products
        </h6>
    </main>
</body>
</html>